/* start body */
    body {
        background-color: lightgoldenrodyellow;
        color: #24292e;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
    }
/* end body */

/* start debug */
    .bg-green{background-color: khaki;
    }

    .bg-green2 {background-color: rgb(156, 144, 35);
    }

    .bg-white {background-color: white;
    }
/* end debug */

/* Start Logo */
    .logo {margin: auto;
        overflow: auto;
        width: 90%;
        background: url(../images/header.png) no-repeat center right;
        background-size: auto;
        background-color: white;
    }
/* End Logo */

/* Start Hyperlink */
a {
    color: green;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}
a:hover {
    color: #24292e;
    text-decoration: underline;
}
a:active {
    color: grey;
    text-decoration: none;
}
/* End Hyperlink */

/* Start Menu Atas */
    .menu-atas ul {
        background-color: khaki;
        border-radius: 10px;
    }
    .menu-atas li {
        display: inline-block;
    }
    .menu-atas a {
        color: #24292e;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: right;
        line-height: 0;
        text-decoration: none;
    }
    .menu-atas a:hover {
        color: white;
        text-decoration: none;
    }
    .menu-atas li img {
        vertical-align: middle;
    }
    .menu-atas .active {
        color: green;
        text-decoration: underline;
    }
/* End Menu Atas */

/* Start Menu Primer */
    .menu-primer ul {
        background-color: khaki;
        border-radius: 10px;
    }
    .menu-primer li {
        display: inline-block;
        border-right: 4px solid lightgoldenrodyellow;
        box-sizing: border-box;
    }
    .menu-primer a {
        color: #24292e;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 10px 40px;
        text-transform: uppercase;
        line-height: 3em;
        text-decoration: none;
    }
    .menu-primer a:hover {
        color: white;
        background-color: green;
        text-decoration: none;
    }
    .menu-primer .active {
        color: white;
        background-color: green;
        text-decoration: none;
    }
/* End Menu Primer */

/* Start Container */
.container {
    margin: auto auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Container Full */
.container-full {
    margin: auto auto;
    overflow: auto;
    width: 100%;
}
/* End Container Bawah */

/* Menu Sekunder */
    .menu-sekunder {
        color: green;
        border-bottom: 1px solid green;
        border-top:1px solid green;
        overflow: auto;
        padding: 10px 0;
    }
    .menu-sekunder h4 {
        font-size: 14px;
        margin: 0 auto;
        text-transform: uppercase;
    }
    .menu-sekunder ul {
        padding: 0;
    }
    .menu-sekunder li {
        list-style: disc;
    }

    .menu-sekunder li a,
    .menu-sekunder p {
        font-size: 15px;
    }

    .menu-sekunder-one,
    .menu-sekunder-two,
    .menu-sekunder-three {
        float: left;
    }
    .menu-sekunder-one {
        width: 55%;
    }
    .menu-sekunder-two {
        width: 20%;
    }
    .menu-sekunder-three {
        width: 25%;
    }

/* start produk */
    .snip1585 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    }

    .snip1585 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    }

    .snip1585:before,
    .snip1585:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 50px solid rgba(0, 0, 0, 0.5);
    border-bottom: 50px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    }

    .snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    }

    .snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    }

    .snip1585 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    }

    .snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    }

    .snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
    }
    .snip1585 p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0;
    }

    .snip1585 h3 span {
    display: block;
    font-weight: 700;
    }

    .snip1585 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    }

    .snip1585:hover > img,
    .snip1585.hover > img {
    opacity: 0.7;
    }

    .snip1585:hover:before,
    .snip1585.hover:before,
    .snip1585:hover:after,
    .snip1585.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    }

    .snip1585:hover figcaption,
    .snip1585.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    }
/* end produk*/

/* Start Testimoni */
        .snip1533 {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            color: #24292e;
            display: inline-block;
            font-family: Arial, sans-serif;
            font-size: 16px;
            margin: 35px 10px 10px;
            max-width: 310px;
            min-width: 250px;
            position: relative;
            text-align: center;
            width: 100%;
            background-color: #ffffff;
            border-radius: 5px;
            border-top: 5px solid green;
        }
        
        .snip1533 *,
        .snip1533 *:before {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
        }
        
        .snip1533 figcaption {
            padding: 13% 10% 12%;
        }
        
        .snip1533 figcaption:before {
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            color: green;
            content: "\f10e";
            font-family: 'FontAwesome';
            font-size: 32px;
            font-style: normal;
            left: 50%;
            line-height: 60px;
            position: absolute;
            top: -30px;
            width: 60px;
        }
        
        .snip1533 h3 {
            color: green;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            margin: 10px 0 5px;
        }
        
        .snip1533 h4 {
            font-weight: 400;
            margin: 0;
            opacity: 0.5;
        }
        
        .snip1533 blockquote {
            font-style: italic;
            font-weight: 300;
            margin: 0 0 20px;
        }
 /* End Testimoni */

 /* start tombol testimoni */
        @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
        @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
        button.snip0043 {
        font-family: 'Raleway', Arial, sans-serif;
        border: none;
        background-color: white;
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        padding: 10px 40px;
        margin: 16px 390px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9em;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        }
        button.snip0043:before {
        content: '';
        display: block;
        border-radius: 8px;
        position: absolute;
        left: 40px;
        right: 40px;
        top: -8px;
        bottom: -8px;
        background-color: green;
        border-top: 1px solid rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        opacity: 0.6;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        }
        button.snip0043:hover:before,
        button.snip0043.hover:before {
        left: 0px;
        right: 0px;
        top: -5px;
        bottom: -5px;
        opacity: 1;
        }
        button.snip0043:active:before {
        top: -3px;
        bottom: -3px;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        }
/* end tombol testimoni */

/* End Artikel */
        @import url(https://fonts.googleapis.com/css?family=Lato);
        @import url(https://fonts.googleapis.com/css?family=Oswald);
        @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
        .snip1518 {
        font-family: 'Lato', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 250px;
        max-width: 310px;
        width: 100%;
        background-color: #ffffff;
        color: #2B2B2B;
        text-align: center;
        font-size: 16px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: inline-block;}
        

        .snip1518 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        }

        .snip1518 img {
        max-width: 100%;
        vertical-align: top;
        position: relative;
        }

        .snip1518 figcaption {
        padding: 10%;
        padding-bottom: calc(25%);
        background-color: #ffffff;
        }

        .snip1518 h3 {
        font-family: 'Oswald';
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin: 3px 0;
        }

        .snip1518 h5 {
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
        color: #888;
        letter-spacing: 1px;
        }

        .snip1518 footer {
        border-top: 1px solid rgba(0, 0, 0, 0.065);
        padding: 0 20px;
        font-size: 13px;
        line-height: 50px;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        }

        .snip1518 footer .icons {
        position: absolute;
        right: 20px;
        top: 0;
        }

        .snip1518 footer .icons > div {
        display: inline-block;
        margin-left: 8px;
        }

        .snip1518 footer .icons i {
        display: inline-block;
        margin-right: 5px;
        font-size: 1em;
        }

        .snip1518 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        }
/* End Artikel */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */